# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
Solutions/
docs/
tex/
Code_UPMSP_ST_MP.pro.user.*
Code_UPMSP_ST_MP.pro.user
.trace.log
# Solutions/
gurobi.log
log/